.note
  {  color: blue;
    background-color: coral;
    right: 30px;
    left: 80px;
    font-size: 2cm;
  }
.banner 
  {
    color: chartreuse;
    background-color: darkslateblue;
    font-size: 2cm;
  }
.banner__paragraph-first
   {   
    position: relative;
    padding: 30px;
    border: 20px dashed rgb(0, 255, 17);
   }
#uniq_id, #uniq_id2
  {
    color: crimson;
    font-size: 1.5cm;
    background-color: coral;
 }
p 
  {
  width: 500px;
  height: 200px;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
  border: 2px solid royalblue; 
  border-block-end-width: 30px;
  margin: 20px;
  }